[Unit]
Description=coin-bot service created for Decimal.

[Service]
Type=simple
Restart=always
RestartSec=3s
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/admin/CoinBot/
ExecStart=/usr/bin/python3 main.py
User=admin
Group=admin

PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/coin-bot
ExecStartPre=/bin/chown syslog:adm /var/log/coin-bot
ExecStartPre=/bin/chmod 755 /var/log/coin-bot
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=coin-bot


[Install]
WantedBy=multi-user.target